.listContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listButton {
  width: 662px;
}

.listCollapse {
  width: 662px;
  color: #535c68;
}

@media screen and (max-width: 900px) {
  .listButton {
    max-width: 90%;
  }
  .listCollapse {
    max-width: 90%;
  }
}
