.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 90%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.headerContent {
  margin-top: 50px;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 auto;
}
