.registerForm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.textField {
  width: 327px;
  height: 55px;
  border-radius: 4px;
}

.registerButton {
  width: 224px;
  height: 36px;
}
.resetPasswordButton {
  font-size: 120px;
}

.stack__wrapper {
  align-items: center;
}
