@import '/src/theme/colors.scss';
@import '/src/theme/breakpoint.scss';

.housesComponent {
  margin-top: 22px;
}

.housesList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 658px;
  overflow-y: scroll;
}

.favoritesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.housesList::-webkit-scrollbar {
  width: 10px;
}

.housesList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.housesList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.housesList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sortBy {
  margin-left: 20px;

  div {
    padding-bottom: 0 !important;

    span {
      font-family: Roboto;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #535c68de;
      font-weight: 500;
    }
  }

  button {
    margin-top: 3px !important;
  }

  .options {
    display: inline-block;
    width: 175px;
    margin-left: 10px;
  }

  div:first-child {
    vertical-align: inherit;
  }
}

.sortBy > div {
  margin-bottom: 8px;
}

.options input {
  padding: 0 !important;
}

.sortBy > div:last-child {
  background-color: #6ab04c46;
  width: fit-content;
  height: 30px;
  text-align: center;
  border-radius: 16px;
}

.sortBy > div:last-child span,
.sortBy > div:last-child svg:first-child {
  color: #6ab04cde;
}

@media screen and (min-width: $screen-xs) {
  .housesComponent {
    border-left: none;
  }
}

@media screen and (min-width: $screen-md) {
  .housesComponent {
    border-left: 2px solid $light-grey;
  }
}
