.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textInput {
  padding: 5px 10px;
  border: 1px solid transparent;
}
.textInputError {
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 5px;
}

.textInput:hover {
  border: 1px solid #ccc;
  border-radius: 5px;
}
